body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  font-weight: 600;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  border: 1px solid grey;
  text-decoration: none;
  appearance: none;
}
.btn i {
  padding-right: 0.3em;
}
